



.frontpage{
   color: rgb(255, 255, 255);
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   
}

.repRange{
    /* background-color: rgba(241, 241, 241, 0.815); */
    background-image: url("https://www.ihrsa.org/uploads/Articles/Column-Width/industry-news_muscular-bicep-dumbbell-stock_column.jpg");
    background-color: rgba(82, 81, 81, 0.692);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 140px 110px 140px;
    border-radius: 5%;
    border: solid 2px rgb(92, 92, 92);
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.frontpage img {
   margin-top: 20px;
}

.repRange h1{
    color: rgb(0, 0, 0);
    background-color: rgba(196, 193, 193, 0.432);
    font-size: 40px;
    margin: 0;
    margin-bottom: 40px;
}



.repRange form{
    display: flex;
    flex-direction: column;
    text-align: center;
  
}

.repRange form button{
   
    cursor: pointer;
    font-size: 20px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.repRange form input{
   margin: 0 auto;
   font-size: 20px;
   margin-bottom: 10px;
   text-align: center;
   justify-content: center;
   width: fit-content;
   background: rgba(201, 201, 201, 0.836);
   color: rgb(68, 67, 67);
   padding: 10px 20px 10px 20px;

}


::placeholder{
    font-style: italic;
    color: rgba(87, 86, 86, 0.623);
}

.repRange form p{
    color: rgb(255, 0, 0);
    font-weight: bold;
    margin: 0;
  
}


@media only screen and (max-width: 680px) {
    .frontpage{
      width: fit-content;
      margin: 0 auto;
      justify-content: center;
    }
  
   .repRange{
     padding: 80px 90px 80px 90px;
     
   }

   .repRange h1{
    font-size: 30px;
    }

    .repRange form button{
        font-size: 15px;
    }

    .repRange form input{
        font-size: 15px;
     }
       
}