body{
  /* background-color: rgba(54, 54, 54, 0.459); */
  /* background-image: url("https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg"); */
  background-image: url("./components/fondo.jpg");
  background-repeat: no-repeat;
 background-size: cover;
  color: white;
}


.column{
  display: flex;
}


.column{
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.component{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.component img{
  margin-top: 20px;
}

.sets input{
  font-size: 30px;
  text-align: center;
  width: fit-content;
}

.sets button{
  font-size: 25px;
  margin-top: 20px;
}

.sets h1{
  font-style: italic;
  margin: 0 auto;
}

.set{
  background-image: url("https://static.wixstatic.com/media/1fe81f_b389ca8569de46a098ee2ccf67cac909~mv2.jpg/v1/fill/w_856,h_824,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/1fe81f_b389ca8569de46a098ee2ccf67cac909~mv2.jpg");
  background-color: rgba(0, 0, 0, 0.692);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 120px 150px 120px;
  border: solid 2px rgba(255, 255, 255, 0.178);
}

.set p{
  margin: 15px 0px 15px 0px;
}

.repPRange{
  text-align: center;
  
  border: solid 2px gray;
  border-radius: 5%;
  margin: 0 auto;
  width: fit-content;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 15px;
}

.repPRange h1{
  font-style: italic;
  margin-bottom: 0 auto;

}

.repPRange p{
  font-style: italic;

}

#completed{
  font-style: normal;
  font-weight: bold;
}





.set h1{
 font-size: 70px;
}

.set h2{
  font-size: 40px;
  margin: 10px;
}

.set h3{
  font-size: 35px;
  margin: 10px;
}

.set p{
  margin: 0 auto;
  font-style: italic;
}

#error{
  color: rgb(81, 255, 0);
  font-size: 20px;
  font-style: italic;
  margin: 12px 0px 12px 0px;
}